/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

.container-div {
  margin-left: 10%;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  font-weight: 500;
}

.outer-feild {
  border: 1px solid gray;
  padding: 5%;
}

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

/* ########******** Hamburger styles ********######## */

.navbar-brand .checkbox:checked ~ .profile-container {
  display: block;
}

.navbar-brand .checkbox:checked ~ .menu-bars {
  transform: rotate(90 deg) ease;
  visibility: hidden;
}

.navbar-brand .checkbox:checked ~ .menul-bars {
  transform: rotate(90 deg) ease;
  visibility: visible;
}

.navbar-brand .profile-container {
  display: none;
}

.flex-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  font-size: x-large;

  background-color: rgb(131, 231, 173);

  align-items: center;
  .user-profile {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }

  .links-container {
    color: #ddd !important;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    line-height: 230%;
  }
}

.menu-bars {
  position: absolute;
  top: 10%;
  left: 2px;
  visibility: visible;
  z-index: 1;
}

.menul-bars {
  position: absolute;
  top: 10%;
  left: 2px;
  visibility: hidden;
  z-index: -1;
}

.navbar-brand .checkbox {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

